.card {
  display: flex;
  flex-direction: column;
  border-radius: 0px;
}

.header {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-bottom: 1px solid gray;
}

.main {
  display: flex;
  flex-direction: column;
}

.logo {
  margin: 20px 0 20px 20px;
  align-items: center;
  display: none;
}

.logo img {
  border-radius: 5px;
  width: 60px;
  height: 60px;
}

.section {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 16px;
}

.tags {
  margin: 0 20px 20px 20px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.details {
  font-size: 14px;
}

.date {
  margin-top: 10px;
}

.description {
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid gray;
}

.description p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.description.open {
  display: block;
}

.description.close {
  display: none;
}

.description h2 {
  margin-top: 20px;
}

.description ul {
  margin-bottom: 20px;
}

.description li {
  margin-left: 30px;
  margin-top: 10px;
}

@media (min-width: 576px) {
  .header {
    flex-direction: row;
  }
  .logo {
    display: flex;
  }
  .details {
    display: flex;
    justify-content: space-between;
  }
  .location {
    text-align: left;
  }
  .date {
    min-width: 120px;
    margin-top: 0;
    text-align: right;
  }
}

@media (min-width: 768px) {
  .card {
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all .5s ease;
  }
  .card:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
  }
  .header {
    border-radius: 5px;
    border: none;
  }
  .header.open {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .header.close {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .main {
    border-radius: 5px;
    width: 100%;
    flex-direction: row;
  }
  .section {
    border-radius: 5px;
    width: 60%;
  }
  .tags {
    border-radius: 5px;
    width: 40%;
    margin: 20px;
  }
  .description {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
  }
  .date {
    width: auto;
  }
}