.jobDetail {
	max-width: 768px;
	padding: 30px;
	border-radius: 5px;
	background-color: white;
}

.title {
	font-size: 30px;;
}

.details {
	display: flex;
	justify-content: space-between;
	color: rgba(0, 0, 0, 0.6);
}

.jobDetail * {
	margin-top: 10px;
}

.jobDetail li {
	margin-left: 30px;
	margin-top: 10px;
}