.card {
	display: flex;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	cursor: pointer;
	border-radius: 0px;
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	width: 80px;
	height: 80px;
}


.section {
	width: 100%;
	padding: 20px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.section div {
	margin-top: 10px;
}

.title {
	font-size: 16px;
}

.details {
	color:rgba(0, 0, 0, 0.666);
	font-size: 14px;
}

.date {
	margin-top: 10px; 
}

.description {
	max-width: 100vw;
	padding: 20px;
	background-color: white;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.description p {
	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
}

.description li {
	margin-left: 30px;
	margin-top: 10px;
}

@media (min-width: 576px) {
	.details {
		display: flex;
		justify-content: space-between;
	}
	
	.location {
		text-align: left;
	}

	.date {
		min-width: 120px;
		margin-top: 0; 
		text-align: right;
	}
}

@media (min-width: 769px) {
	.logo {
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	.logo img {
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	.card {
		margin-top: 10px;
		border-radius: 5px;
		border: none;
	}

	.description {
		border: none;
	}

	.logo img {
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	.date {
		width: auto;
	}
}