.jobSearch {
	width: 100%;
}

.filters {
	display: flex;
	flex-direction: column;
}

.filters>div {
	width: 100%;
}

@media (min-width: 576px) {
	.filters {
		flex-direction: row;
	}
	.filters>div:nth-child(1) {
		border-right: 1px solid gray;
	}
}

@media (min-width: 769px) {
	.filters {
		margin-bottom: 10px;
	}
	.filters>div:nth-child(1) {
		margin-right: 5px;
		border: none;
	}
	.filters>div:nth-child(2) {
		margin-left: 5px;
	}
}