.landing {
	display: none;
	/* height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("https://images.unsplash.com/photo-1506878206813-92402b8ded23?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80");
	background-image: url("https://images.unsplash.com/photo-1552071579-b2c22d332bd2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"); */
}

.logo {
	padding-top: 150px;
	font-family: 'Fira Sans', monospace;
	font-weight: 500;
	color: white;
	font-size: 150px;
}